.info-s{
    width: 100%;
    height: auto;
    position: absolute;
    background:#ecf0f1;
    box-sizing: border-box;
}
.info-wrapper{
    background-color:#ecf0f1;
margin: 50px 30px 0px;
    padding: 30px;
    box-shadow: 3px black;
}
.heading{
    text-align: center;
    padding: 4px 50px;
}
.heading h1{
    line-height: 50px;
    color: #636e72;
    font-size: 40px;
    font-weight: 300;
    margin: 2px 0px 2px 0px;
    text-transform: capitalize;
    padding: 12px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.heading h1:hover{
    color: blue;
}
.allpost-Wrapper{
    display: flex;
    flex-wrap: wrap;
}